@import url(https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap);

* , *::before , *::after{
    box-sizing: border-box;
    
}

body{
    font-family: roboto , sans-serif;
    margin: 0;
}

.video-section{
    display: grid;
    
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 3rem 1rem;
    padding: 1rem;
    margin: 0 1.5rem;
    border-top: 4px solid #ccc;
}

.video-container{
    display: grid;
    flex-direction: column;
}

.video-section:first-child{
    border-top: none;
}


.thumbnail{
    position: relative;
    display: flex;
}

.thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0,0,0,.85);
    color: aliceblue;
    right: 5px;
    /* left: 420px; */
    bottom: 5px;
    padding: .1cm .3cm;
    border-radius: .3cm ;
    font-size: .3cm;
}
.thumbnail-img{
    width: 100%;
    height: 100%;
    min-height: 150px;
    min-width: 250px;
    background-color: #AAA;

}

.video-bottom-section{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.channel-icon{
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}

.video-detail{
    display: flex;
    flex-direction: column;
}

.video-title{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem ;
    text-decoration: none;
    color: black;
}

.video-channel-name{
    margin-bottom: .1rem;
    text-decoration: none;
    color: #555;
    transition: color 150ms;
}
.video-channel-name:hover{
    color: black;
}

.video-channel-name,
.video-metadata{
    color: #555;
}
.video-container:hover{
    transform: scale(1.1);
    background-color:#DDD;
    border-radius: 10%;
}

.video-section-title{
    grid-column: 1/-1;
    margin: -.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.video-section-title-close{
    font-size: 1.5rem;
    color: #555;
    cursor: pointer;
}

.videos{
    background-color: #f9f9f9;
}

.categories{
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;

}
.category-section{
    display: flex;
    overflow: hidden;

}

.category{
    margin-right:1rem ;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 900px;
    background-color: #E7E7E7;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: backgroud-color 150ms;

}

.category:hover{
    background-color: #DDD;

}

.category-active{
    background-color: #606060;
    color: white;
    border-color: #EEE;
}

.category:last-child{
    margin-right: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 80px;

}

.youtube-logo{
    height: 70px;
    
}

.searchbar{
    display: flex;
    flex-grow: 1;
    height: 50px;
    margin: 0 2rem 0 4rem;
    padding: 1px solid #777;
    
}

.search-input{
    width: 100%;
    font-size: inherit;
    padding: .4cm;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px solid #777;
    
}

.search-button{
    display: flex;
    align-items: center;
    padding: 1px solid #777;
    background-color:#f8f8f8;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    
}


.search-voice{
    display: flex;
    align-items: center;
    padding: 1px solid #777;
    background-color:#f8f8f8;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.menu-icon{
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    gap: 1rem;
}

.menu-channel-icon{
    border-radius: 50px;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}